<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW-CHAT</title>
</head>
<body>
    <form method="post" action="/addchat">
        FROM:<input type="text" name="from" placeholder="Sender name" ><br><br>
        Message: <textarea name="msg">write message.</textarea><br><br>
        TO: <input type="text" name="to" placeholder="Reciver name"><br><br>
        <button type="submit">ADD</button>
    </form>
</body>
</html>