<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/chat/<%= chats._id %>?_method=PUT" method="POST">
        <p><%= chats.from %></p>
         <textarea name="msg"><%= chats.msg %></textarea><br>
         <button type="submit">Update</button>
    </form>
</body>
</html>